---
---

@import "{{ site.theme }}";

/* Minimal spacing and typography improvements */
body {
  line-height: 1.6;
}

h2, h3, h4, h5, h6 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 1em;
}
